.survey {
  background-image: url('../../Assets/cloud.png'); /* Set your cloud image here */
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the image */
    padding: 30px; /* Add padding for spacing */
    width: 850px; /* Adjust width as necessary */
    height: 500px; 
    text-align: center; /* Center align text */
    color: #333; /* Optional: Adjust text color for readability */
}
body {
  margin: 0; /* Remove default margin to fit within the cloud */
  padding: 0; /* Remove default padding */
  background: rgb(187,208,255);
  background: linear-gradient(90deg, rgba(187,208,255,1) 0%, rgba(213,199,254,1) 50%, rgba(231,198,255,1) 100%);
}
h2 {
  margin-bottom: 180px;
  color: #4a4a4a;
}

h3 {
  color: #333;
  margin-bottom: 8px;
  font-size: 30px;
}

input[type="text"], input[type="range"] {
  width: 20%;
  padding: 10px;
  margin: 8px 5%;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

input[type="range"] {
  padding: 0;
}

label {
  margin: 0 10px;
}

input[type="radio"] {
  margin-right: 5px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #ffff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:disabled {
  background-color: #cccccc;
}

button:hover:not(:disabled) {
  background-color: #45a049;
}

.responses {
  margin-top: 20px;
  text-align: left;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
}

pre {
  font-family: monospace;
  font-size: 14px;
}
