.dashboard-container {
    font-family: 'Playfair Display', serif;
    background-color: #bbd0ff;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.music-recommendation-container {
    background-color: aliceblue;
    font-family: 'Playfair Display', serif; /* Apply Playfair Display font */
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    width: 60%; /* Adjust width for responsive layout */
}

.chatbot {
    width: 300px; /* Fixed width for the chatbot */
    top: 0;
    right: 0;
    background: linear-gradient(90deg, rgba(187, 208, 255, 1) 0%, rgba(213, 199, 254, 1) 50%, rgba(231, 198, 255, 1) 100%);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
}



.chat-heading {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.chat-messages {
    flex-grow: 1;
    width: 100%;
    overflow-y: auto;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f0f0f0; /* Light grey background for chat area */
    border-radius: 10px;
}

.chat-message {
    margin: 5px 0;
    padding: 10px;
    border-radius: 15px;
}

.user {
    background-color: #d1e7ff; /* Light blue for user messages */
    align-self: flex-end;
}

.bot {
    background-color: #e2e3e5; /* Light grey for bot messages */
    align-self: flex-start;
}

.chat-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Full width for input area */
}

.chat-input-field {
    flex-grow: 1;
    border-radius: 20px;
    padding: 10px;
    margin-right: 10px;
}

.send-btn {
    margin-left: 10px;
}

.track-card {
    background-color: #bbd0ff58; /* Semi-transparent background for track cards */
    color: #333;
    border-radius: 10px; /* Rounded corners for cards */
    margin: 10px; /* Uniform margin for cards */
    transition: transform 0.2s; /* Smooth scaling effect */
}

.track-card:hover {
    transform: scale(1.03); /* Slightly enlarge card on hover */
}

.track-title {
    font-weight: bold; /* Bold font for track titles */
}

.track-artist {
    color: #666; /* Subtle color for artist names */
}
