.app-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
  }
  
  .column {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .song-recommendations {
    background-color: rgba(187,208,255,1);
  }
  
  .chatbot {
    background-color: #e0e0e0;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .songs-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    flex-grow: 1;
  }
  .play-button {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  .song-box {
    background-color: rgba(231,198,255,1);
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
  }
  
  .next-button {
    margin-top: 20px;
    align-self: center;
    background-color: rgba(213,199,254,1);
  }
  
  .chat-container {
    flex-grow: 1;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
  }
  
  .chat-input {
    display: flex;
    gap: 10px;
  }
  
  .chat-input input {
    flex-grow: 1;
    padding: 5px;

  }
  
  .chat-input button {
    padding: 5px 10px;
    background-color: rgba(213,199,254,1);
  }